ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: skyblue;
  display: flex;
  align-content: center;
  
}
input{
  width: 200px;
  height: 25px;
  border-radius: 30px;
  text-align: center;
}
#bulletpara{
  display: grid;
}
#bulletdiv{
  display: flex;
}
button:hover {
  background-color: darkgray;
}
button {
  height: 40px;
  width: 200px;
  border-radius: 30px;
  font-size: large;
}

li{
  display: flex;
  padding-right: 60px;
}

a:hover {
  background-color: darkgray;
  color: orangered;
  font-size: 20px;
  font-style: italic;
}
a{ 
  color:  black;
}
nav {
  height: 100px;
  width: auto;
  background-color: skyblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  
}
.title {
  font-size: 50px;
}
footer {
  background-color: black;
  color: antiquewhite;
  height:  70px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#form{

  background-color: skyblue;
  height: 500px;
  text-align: center;
  
}
#nav {
  border: 1px solid black;
}
#header {

}
#video {
 display: flex;
 justify-content: center;
 background-image: linear-gradient(skyblue, black);
 padding-top: 50px;
}
h2 {
  margin-top:  0px;
  padding-top: 60px;
}
h1 {
  margin-inline-end: auto;
}