ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: skyblue;
  display: flex;
  align-content: center;
  
}
input{
  width: 200px;
  height: 25px;
  border-radius: 30px;
  text-align: center;
}
#bulletpara{
  display: grid;
}
#bulletdiv{
  display: flex;
}
button:hover {
  background-color: darkgray;
}
button {
  height: 40px;
  width: 200px;
  border-radius: 30px;
  font-size: large;
}

li{
  display: flex;
  padding-right: 60px;
  
  
}
nav {
  height: 100px;
  width: auto;
  background-color: skyblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title {
  font-size: 50px;
}
footer {
  background-color: black;
  color: antiquewhite;
  height:  70px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
form{

  background-image: linear-gradient(skyblue, black);
  height: 500px;
  text-align: center;
  border: 1px solid black;
}
#nav {
  border: 1px solid black;
}
#header {

}
#iframe-div {
 display: flex;
 align-items: center;

}